<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Book</title>
</head>
<body>

<div layout:fragment="content">
    <section class="w3-main">
        <div>
            <h1 class="page-header">Books</h1>
            <button class="btn btn-success nBtn">Add Book</button>
            <div class="card">
                <div class="card-block">
                    <div th:with="expr_result = ${bookResult.size() > 0}">
                        <div th:if="${expr_result}">
                            <table th:if="${bookResult.size() > 0}" class="table table-striped table-responsive-md text-justify">
                                <thead>
                                    <tr>
                                        <th>ISBN</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Book Image</th>
                                        <th>Release Date</th>
                                        <th>Category</th>
                                        <th>Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book : ${bookResult}">
                                        <td th:text="${book.isbn}"></td>
                                        <td th:text="${book.title}"></td>
                                        <td th:text="${book.description}" class="text-justify"></td>
                                        <td th:text="${book.bookImage}"></td>
                                        <td th:text="${book.releaseDate}"></td>
                                        <td th:text="${book?.category?.name}"></td>
                                        <td th:text="${book?.author?.name}"></td>
                                        <td>
                                            <a class="btn btn-danger delBtn" th:href="@{delete/(id=${book.id})}">Delete</a>
                                            <a class="btn btn-primary eBtn" th:href="@{findOne/(id=${book.id})}">Edit</a>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                        <!-- books pagination - Pagination Bar -->
                        <nav aria-label="Pagination" th:if="${page.totalPages gt 0}">
                            <ul class="pagination justify-content-end font-weight-medium">
                                <li class="page-item" th:classappend="${page.first}?'disabled':''">
                                    <span th:if='${page.first}'>← First</span>
                                    <a class="page-link svg-icon" th:if='${not page.first}' th:href='@{/book/byPublisher(page=0,size=${page.size})}'>← First</a>
                                </li>
                                <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
                                    <span th:if='${not page.hasPrevious()}'>Previous</span>
                                    <a class="page-link svg-icon" th:if='${page.hasPrevious()}' th:href='@{/book/byPublisher(page=${page.number-1},size=${page.size})}' aria-label="Previous" title='Go to previous page' rel="tooltip">Previous</a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(page.number, page.totalPages > 10 + page.number ? page.number + 10 : page.totalPages-1, 1)}" class="page-item" th:classappend="${i eq page.number} ? 'active'" >
                                    <a class="page-link" th:href="@{/book/byPublisher(page=${i},size=${page.size})}" th:text="${i}" th:title="${'Page '+ i}" rel="tooltip"></a>
                                </li>
                                <li class="page-item disabled" th:if="${page.number + 10 < page.totalPages}">
                                    <a class="page-link svg-icon" href="#">
                                        <span data-feather="more-horizontal" width="20" height="20">...</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${page.number + 1 eq page.totalPages} ? 'disabled':''">
                                    <a class="page-link svg-icon" th:href="@{/book/byPublisher(page=${page.number+1},size=${page.size})}" aria-label="Next" title="Next Page" rel="tooltip">
                                        Next
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${page.last}? 'disabled' : ''">
                                    <span th:if='${page.last}'>Last →</span>
                                    <a class="page-link svg-icon" th:if='${not page.last}' th:href='@{/book/byPublisher(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div th:unless="${expr_result}">
                        <h5 class="w3-text-black"><b>No Records..</b></h5>
                    </div>
                </div>
            </div>
            <div class="myForm">
                <form id="bookForm" action="#" method="post" th:action="@{/book/save}"  th:object="${book}" enctype="multipart/form-data">
                    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update or Create</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="form-control" id="id" name="id" type="text" value="" hidden/>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('isbn')} ? 'has-error' : ''">
                                        <label class="col-form-label" for="isbn">ISBN:</label>
                                        <div th:classappend="${#fields.hasErrors('isbn')} ? 'input-icon right' : ''" class="w3-text-red">
                                            <i th:if="${#fields.hasErrors('isbn')}" class="fa fa-exclamation tooltips" data-original-title="Please provide isbn" data-container="body"></i>
                                            <input type="number" class="form-control" id="isbn" name="isbn" maxlength="10" pattern=[0-9]{1}[0-9]{9} th:field="*{isbn}" placeholder="ISBN must be between 1 and 10 numeric" required="true"/>
                                            <span th:if="${#fields.hasErrors('isbn')}" class="w3-text-red" th:errors="*{isbn}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'has-error' : ''">
                                        <label class="col-form-label" for="title">Title:</label>
                                        <div th:classappend="${#fields.hasErrors('title')} ? 'input-icon right' : ''" class="w3-text-red">
                                            <i th:if="${#fields.hasErrors('title')}" class="fa fa-exclamation tooltips" data-original-title="Please provide Title" data-container="body"></i>
                                            <input type="text" class="form-control" id="title" name="title" maxlength="50" th:field="*{title}" placeholder="Title must be between 1 and 50 characters" required="true"/>
                                            <span th:if="${#fields.hasErrors('title')}" class="w3-text-red" th:errors="*{title}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
                                        <label class="col-form-label" for="description">Description:</label>
                                        <div th:classappend="${#fields.hasErrors('description')} ? 'input-icon right' : ''" class="w3-text-red">
                                            <i th:if="${#fields.hasErrors('description')}" class="fa fa-exclamation tooltips" data-original-title="Please provide Description" data-container="body"></i>
                                            <input type="text" class="form-control" id="description" name="description" maxlength="255" th:field="*{description}" placeholder="Description must be between 1 and 255 characters" required="true"/>
                                            <span th:if="${#fields.hasErrors('description')}" class="w3-text-red" th:errors="*{description}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('releaseDate')} ? 'has-error' : ''">
                                        <label class="col-form-label" for="releaseDate">Title:</label>
                                        <div th:classappend="${#fields.hasErrors('releaseDate')} ? 'input-icon right' : ''" class="w3-text-red">
                                            <i th:if="${#fields.hasErrors('releaseDate')}" class="fa fa-exclamation tooltips" data-original-title="Please select Release Date" data-container="body"></i>
                                            <input type="date" class="form-control" id="releaseDate" name="releaseDate" maxlength="255" th:field="*{releaseDate}" placeholder="Please select Release Date" required="true"/>
                                            <span th:if="${#fields.hasErrors('releaseDate')}" class="w3-text-red" th:errors="*{releaseDate}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('category')} ? 'has-error' : ''">
                                        <label class="col-form-label" for="category">Category:</label>
                                        <div th:classappend="${#fields.hasErrors('category')} ? 'input-icon right' : ''" class="w3-text-red">
                                            <i th:if="${#fields.hasErrors('category')}" class="fa fa-exclamation tooltips" data-original-title="Please select Category" data-container="body"></i>
                                            <select th:field="*{category}" id="category" name="category" class="form-control"  required="required">
                                                <option value="" selected="selected">---Select Category---</option>
                                                <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"/>
                                            </select>
                                            <span th:if="${#fields.hasErrors('category')}" class="w3-text-red" th:errors="*{category}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('author')} ? 'has-error' : ''">
                                        <label class="col-form-label" for="author">Author:</label>
                                        <div th:classappend="${#fields.hasErrors('author')} ? 'input-icon right' : ''" class="w3-text-red">
                                            <i th:if="${#fields.hasErrors('author')}" class="fa fa-exclamation tooltips" data-original-title="Please select Author" data-container="body"></i>
                                            <select th:field="*{category}" id="author" name="author" class="form-control"  required="required">
                                                <option value="" selected="selected">---Select Author---</option>
                                                <option th:each="author : ${authorList}" th:value="${author.id}" th:text="${author.name}"/>
                                            </select>
                                            <span th:if="${#fields.hasErrors('author')}" class="w3-text-red" th:errors="*{author}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('image')} ? 'has-error' : ''">
                                        <label class="col-form-label" for="image">Upload Book Image:</label>
                                        <div th:classappend="${#fields.hasErrors('image')} ? 'input-icon right' : ''" class="w3-text-red">
                                            <i th:if="${#fields.hasErrors('image')}" class="fa fa-exclamation tooltips" data-original-title="Please select image to upload" data-container="body"></i>
                                            <input class="form-control" id="image" name="image" type="file" placeholder="Upload Book Image" value="" th:field="*{image}"  required="true"/>
                                            <span th:if="${#fields.hasErrors('image')}" class="w3-text-red" th:errors="*{image}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                    <input class="btn btn-primary" type="submit" value="save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Delete Record</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger">
                                Are you sure you want to delete this Book?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close
                            </button>
                            <a class="btn btn-danger" href="" id="delRef">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="script">
    <script type="application/javascript" th:src="@{/js/book.js}" src="../static/js/book.js"></script>
</th:block>
</body>
</html>