<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Publisher</title>
</head>
<body>

<div layout:fragment="content">
    <section class="w3-main">
        <div class="container">
            <p th:if="${message}" th:text="${message}" class="text-success"></p>
            <a class="btn w3-blue nBtn" th:href="@{/user/registration/(role=publisher)}">Add Publisher</a>
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Publication</th>
                                <th>Login Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${userList}">
                                <td th:text="${user.description}"></td>
                                <td th:text="${user.userName}"></td>
                                <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.active}"></td>
                                <td>
                                    <a class="btn btn-danger delBtn" th:href="@{/user/delete/(id=${user.id})}">Delete</a>
                                    <span th:if='${user.active == true}'>
                                        <a class="btn btn-primary actDeactBtn" th:href="@{/user/actDeact/(role=user,actDeact=deact,id=${user.id})}">Deactivate</a>
                                    </span>
                                    <span th:if='${user.active == false}'>
                                        <a class="btn btn-primary actDeactBtn" th:href="@{/user/actDeact/(role=user,actDeact=act,id=${user.id})}">Activate</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="actDeactivateModelLabel" class="modal fade" id="actDeactivateModel"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="actDeactivateModelLabel">Activate/Deactivate Publisher</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger"  id="alertMessage">
                                Are you sure you want to deactivate this Publisher?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                            <a class="btn btn-danger" href="" id="actDeactivateRef">Deactivate</a>
                        </div>
                    </div>
                </div>
            </div>


            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Delete Record</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger">
                                Are you sure you want to delete this Publisher?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                            <a class="btn btn-danger" href="" id="delRef">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="script">
    <script type="application/javascript" th:src="@{/js/publisher.js}" src="../static/js/publisher.js"></script>
</th:block>
</body>
</html>